h1 {
    color: #ECDFCC;
    text-align: center;
}

.yanami {
    margin-left: 37%;
    height: 300px;
    width: 300px;
}

body {
    background: #A59D84;
}

header {
    text-align: center;
    padding: 25px 20px 25px;
    background-color: #C1BAA1;
}

a {
    text-decoration: none;
    color: #ECEBDE;
    font-size: 25px;
    padding: 10px 20px 10px;
    background-color: #A59D84;
}

.input_button {
    border: none;
    color: #ECDFCC;
    font-size: 25px;
    padding: 10px 20px 10px;
    cursor: pointer;
    background-color: #A59D84;
}

a:hover {
    color: #ECDFCC;
    background-color: #C1BAA1;
}

.input_button:hover {
    color: #ECDFCC;
    background-color: #C1BAA1;
}

p {
    color: #ECDFCC;
    font-size: 20px;
}
