h1 {
    color: #ECDFCC;
    text-align: center;
}

.yanami {
    margin-left: 37%;
    height: 300px;
    width: 300px;
}
/* MAIN */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #A59D84;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #C1BAA1;
    padding: 30px;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

header a {
    margin-left: 8%;
}

footer {
    background: #C1BAA1;
    padding: 20px;
    text-align: center;
}

footer p {
    color: #ECEBDE;
}

a {
    text-decoration: none;
    color: #ECEBDE;
    font-size: 25px;
    padding: 10px 20px 10px;
    background-color: #A59D84;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a:hover {
    color: #ECEBDE;
    background-color: #C1BAA1;
}

.input_button {
    border: none;
    color: #ECDFCC;
    font-size: 25px;
    padding: 10px 20px 10px;
    cursor: pointer;
    background-color: #A59D84;
}


.input_button:hover {
    color: #ECDFCC;
    background-color: #C1BAA1;
}

p {
    color: #ECDFCC;
    font-size: 20px;
}

/*PRODUCTS CSS*/
main {
    margin-top: 125px;
    padding: 20px;
}

main h2, span {
    color: #ECEBDE;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.close {
    padding: 0 0 0 0;
    margin: auto;
    border-radius: 50%;
    float: right;
    background-color: #C1BAA1;
}

.product-card {
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: #C1BAA1;
}

.product-card img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 1.0s;
}

.product-card img:hover {
    transform: scale(0.9);
}

.product-card h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    background-color: #A59D84;
    color: #ECEBDE;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    color: #ECDFCC;
    background-color: #C1BAA1;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.add {
    margin-left: 85%;
    text-decoration: none;
    color: #ECEBDE;
    font-size: 25px;
    padding: 5px 10px 5px 15px;
}

.add:hover {
    background-color: #C1BAA1;
}

form {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

/* Labels */
label, h1 {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

/* Input fields */
input[type="text"],
input[type="number"],
input[type="file"],
select {
    width: 96%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Multiple select */
select[multiple] {
    height: 100px;
    overflow-y: auto;
}

/* Buttons */
input[type="submit"] {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    font-size: 25px;
    color: #ECEBDE;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

input[type="submit"] {
    background-color: #A59D84;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #C1BAA1;
}

/* Focused fields */
input:focus,
select:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 3px rgba(128, 189, 255, 0.5);
}

/* Responsive design */
@media (max-width: 768px) {
    form {
        width: 90%;
    }
}

