{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<title>Bikes</title>
<div class="header-bar">
    <form method="get" action="{% url 'bike_list' %}" class="search-form">
        <div class="search-container">
            <input type="text" name="q" placeholder="Search for Bike..." value="{{ search_query }}" class="search-input">
            <button type="submit" class="search-btn">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
    <a href="{% url 'bike_create' %}" class="add_button">New Bike +</a>
</div>

<h2>New Arrival</h2>
<section class="products">
    {% for bike in bikes %}
    <div class="product-card">
        {% if bike.image %}
            <img src="{{ bike.image.url }}" alt="{{ bike.name }}">
        {% else %}
            <p>No image available.</p>
        {% endif %}
        <h2>{{ bike.name }}</h2>
        <span class="price">₱{{ bike.price }}</span><br>
        <a href="{% url 'bike_detail' bike.pk %}" class="btn">View</a>
        <a href="#" class="btn">Add to Cart</a>
    </div>
    {% endfor %}
</section>
{%  endblock content %}
