{% extends 'app/base.html' %}
{% block content %}
<title>{{ bike.name }} Detail</title>
<section class="products">
    <div class="product-card">
    <a href="{% url 'bike_list' %}" class="close">x</a>
        {% if bike.image %}
            <img src="{{ bike.image.url }}" alt="{{ bike.name }}">
        {% else %}
            <p>No image available.</p>
        {% endif %}
        <h2>{{ bike.name }}</h2>
        <span class="price">₱{{ bike.price }}</span><br>
        <p>{{ bike.description }}</p>
        <a href="{% url 'bike_update' bike.id %}" class="anchor">+ Edit Bike</a>
        <a href="{% url 'bike_delete' bike.id %}" class="anchor">- Delete Bike</a>
        <hr>

        <h3 style="color: #ECEBDE; display: inline-block;">Comments</h3>
        <form method="POST" action="{% url 'comment_create' bike.pk %}">
            {% csrf_token %}
            <textarea name="body" placeholder="Write a comment..." required></textarea>
            <input type="submit" class="btn" value="Add Comment">
        </form>

        {% if not bike.comments.all %}
            <p>No comments yet.</p>
        {% endif %}
        {% for comment in bike.comments.all %}
            <hr>
            <p><strong>{{ comment.username }}</strong> - {{ comment.date_time }}</p>
            <p>{{ comment.body }}</p>
            <a href="{% url 'comment_update' bike.pk comment.pk %}" class="btn">Edit Comment</a>
            <a href="{% url 'comment_delete' bike.pk comment.pk %}" class="btn">Delete Comment</a>
        {% endfor %}
    </div>
</section>
{%  endblock content %}
