{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<title>Bikes</title>
<a href="{% url 'bike_create' %}" class="add">New Bike +</a>
<h2>New Arrival</h2>
<section class="products">
    {% for bike in bikes %}
    <div class="product-card">
        {% if bike.image %}
            <img src="{{ bike.image.url }}" alt="{{ bike.name }}">
        {% else %}
            <p>No image available.</p>
        {% endif %}
        <h2>{{ bike.name }}</h2>
        <span class="price">${{ bike.price }}</span><br>
        <a href="{% url 'bike_detail' bike.pk %}" class="btn">View</a>
        <a href="#" class="btn">Add to Cart</a>
<!--        <button class="btn" onclick="addToCart('{{ bike.name }}', {{ bike.price }})">Add to Cart</button>-->
    </div>
    {% endfor %}
</section>
<!--        <h1>Your Cart</h1>-->

<!--        <div id="cart"></div>-->
<!--        <div id="total">Total: $0</div>-->

<!--        <button class="btn" onclick="buy()">Buy Now</button>-->
{%  endblock content %}
