{% extends 'app/base.html' %}

{% block content %}
  <title>About</title>
  <br><br>
    <h1><i>Who is Anna Yanami?</i></h1>
    <br><hr><br>
    <p><strong>Anna Yanami (八奈見杏菜, Yanami Anna)</strong> is one of the Main Characters of Too Many Losing Heroines series as well as one of the titular Losing Heroines. She's a First Year Student of Class 1-C of Tsuwabuki High School and also a member of the literature club. She has romantic feelings for her Childhood Friend and Classmate Sosuke Hakamada and best friend of his girl friend Karen Himemiya.</p>
{%  endblock content %}