<div class="navbar modern-navbar">
    <header class="container flex-container">
        <a href="{% url 'profile' %}" class="logo-container">
            {% if user.is_authenticated %}
                <p>Welcome Back {{ user.username }}!</p>
            {% else %}
                <p>You are not logged in</p>
            {% endif %}
        </a>
        <nav>
            <ul class="nav-list">
                <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                <li><a href="{% url 'about' %}" class="nav-link">About</a></li>
                <li><a href="{% url 'bike_list' %}" class="nav-link">Bikes</a></li>
                <li><a href="{% url 'review_list' %}" class="nav-link">Reviews</a></li>
                {% if user.is_authenticated %}
                <li>
                    <form action="{% url 'logout' %}" method="post" class="logout-form">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">Logout</button>
                    </form>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                <li><a href="{% url 'signup' %}" class="nav-link">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
</div>